# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/

# IDE settings
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints

# Logs
*.log
cufile.log
algs/file_read/cufile.log
algs/frequent/cufile.log


# Build artifacts
*.o
*.so
*.out
*.exe

# Documentation build output
datasets/*
!datasets/bubble_sort/bubble_sort.txt
__pycache__/
*.pyc
tests/*
!tests/*.py
